@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
  height: 8px; /* Altura de la barra de desplazamiento (para scroll horizontal) */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color del pulgar de la barra de desplazamiento */
  border-radius: 9999px; /* Bordes redondeados */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color del rastro de la barra de desplazamiento */
  border-radius: 9999px; /* Bordes redondeados */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Color de la esquina de la barra de desplazamiento */
}
