@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: linear-gradient(to bottom, 
               #002f3e 0%, 
               #002222 15%, 
               #001111 40%, 
               #000811 65%, 
               #000022 100%);
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  background: rgba(31, 25, 52, 0.7); /* Ajustado para ser más oscuro y semi-transparente */
  min-height: 100vh;
  min-height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/*SWIPER SLIDE CARDS*/

/* .swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
} */



/* ANIMACION NAVBAR*/

/* Añadir este CSS para que funcione con el código anterior */

.bg-secondary {
  background-color:#f5741c; /* Color de fondo cuando está activo */
}

.scale-105 {
  transform: scale(1.05); /* Aumenta levemente el tamaño del ítem activo */
}

.transition-all {
  transition: all 0.3s ease-in-out; /* Transición suave para todos los cambios */
}




/* FLIP CARD GRID*/
/* Vanilla CSS for flip card */
.card { perspective: 800px;}
.card__content {transform-style: preserve-3d;}
.card:hover .card__content {transform: rotateY(.5turn);}

.card__front,
.card__back { backface-visibility: hidden;}
.card__back{ transform: rotateY(.5turn);}


@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-breathe {
  animation: breathe 2s infinite;
  display: inline-block; /* Esto asegura que solo el texto sea afectado */
  justify-content: center;
}



/*EXPERIMENTALS*/
@keyframes right2left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}






@keyframes right2left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes right2left2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-[right2left_20s_linear_infinite] {
  animation: right2left 20s linear infinite;
}

.animate-[right2left2_20s_linear_infinite] {
  animation: right2left2 20s linear infinite;
}
