@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: linear-gradient(to bottom, 
               #004040 0%, 
               #002222 15%, 
               #001111 40%, 
               #000811 65%, 
               #000022 100%);
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  background: rgba(31, 25, 52, 0.7); /* Ajustado para ser más oscuro y semi-transparente */
  min-height: 100vh;
  min-height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}



/*SWIPER SLIDE CARDS*/

.swiper {
  width: 300px;
  height: 300px;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* .swiper-slide img {
   display: block; 
   width: 100%; 
} */

